@model Quiz.Models.RespostaJogador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RespostaJogador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questao.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jogador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jogador.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
